{{# each subjects}}
    <div class="row">
    {{# each this}}
        <div class="col-sm-7 col-md-8">
            <div class="thumbnail">
                <img src={{this.imagePath}}
                     alt="..." class="img-responsive>
            <div class="caption">
                <p class="mName">{{this.title}}</p>
            </div>
        </div>
    </div>
{{/each}}

{{/each}}




