<br />
<br /><br />
<br />

<nav class="footer footer-light" style="background-color: #e3f2fd;"">

<div class ="fcontainer">
  
     <p class="site-usage-policy">Users of TYELE in Coláiste Bríde Enniscorthy are reminded that your use of the Virtual Learning Environment may be logged and this information, with other personal data contained within the system, may be used by lecturers and/or facilitators to monitor progress and completion of modules.
     </p> 
   </di>
</nav>  

