<div class="container" id="rcontainer">

<table class="timetable">
  <tr class="tr">
    <th></th>
    <th>Monday </th>
    <th>Tuesday </th> 
    <th>Wednesday </th>
    <th>Thursday </th>
    <th>Friday </th>
  </tr>
  <tr>
    <td>9.00</td>
    <td>Maths</td> 
    <td>English</td>
    <td>German</td> 
    <td>Activity</td> 
    <td>Irish</td> 
  </tr>
  <tr>
    <td>9.45</td>
    <td>PE</td> 
    <td>PE</td>
    <td>Irish</td> 
    <td>French</td> 
    <td>Biology</td>
  </tr>
  <tr>
    <td>10.20</td>
    <td>Break</td> 
    <td>Break</td>
    <td>Break</td> 
    <td>Break</td>
    <td>Break</td>
  </tr>
  <tr>
    <td>10.40</td>
    <td>Activity</td> 
    <td>Activity</td>
    <td>French</td> 
    <td>Maths</td> 
    <td>English</td>
  </tr>
  <tr>
    <td>11.25</td>
    <td>Maths</td> 
    <td>Spanish</td>
    <td>English</td> 
    <td>Biology</td> 
    <td>Chemistry</td>
  </tr>
  <tr>
    <td>12.05</td>
    <td>Business</td> 
    <td>French</td>
    <td>Home Economics</td> 
    <td>English</td> 
    <td>Activity</td>
  </tr>
  <tr>
    <td>12.45</td>
    <td>Lunch</td> 
    <td>Lunch</td> 
    <td>Lunch</td> 
    <td>Lunch</td> 
    <td>Lunch</td> 
  </tr>
  <tr>
    <td>1.45</td>
    <td>Business</td> 
    <td>English</td>
    <td>Religion</td> 
    <td>Activity</td> 
    <td>Irish</td>
  </tr>
  <tr>
    <td>2.30</td>
    <td>History</td> 
    <td>Business</td>
    <td>Home Economics</td> 
    <td>French</td> 
    <td>Activity</td>
  </tr>
  <tr>
    <td>3.05</td>
    <td>Maths</td> 
    <td>Business</td>
    <td>Home Economics</td> 
    <td>Home Economics</td> 
    <td>Irish</td>
  </tr>
</table>
</div>