{{> header}}

<ul class="breadcrumb">
  <li><a href="#">Home</a></li>
</ul>

<h2>User Options</h2>



<div class ="container">
    <div class="row">
    
            <div class="col-sm-5 col-md-4">
                <div class="thumbnail">
                    
            <div class="caption">
                    <p class="mName">Create new Teacher</p>
                   
                    <form action='signupTeacher'>
                        <input type="submit" value="Create new Teacher" />
                    </form>
              
            </div>
            </div>
        </div>
        </div>
        </div>

        <div class ="container">
    <div class="row">
    
            <div class="col-sm-5 col-md-4">
                <div class="thumbnail">
                    
            <div class="caption">
                    <p class="mName">Create new Student</p>
                   
                    <form action='signupStudent'>
                        <input type="submit" value="Create new Student" />
                    </form>
              
            </div>
            </div>
        </div>
        </div>
        </div>


<div class ="container">
    <div class="row">
    
            <div class="col-sm-5 col-md-4">
                <div class="thumbnail">
                    
            <div class="caption">
                    <p class="mName">Create new Other</p>
                   
                    <form action='signupOther'>
                        <input type="submit" value="Create new Other" />
                    </form>
              
            </div>
            </div>
        </div>
        </div>
        </div>


<div class ="container">
    <div class="row">
    
            <div class="col-sm-5 col-md-4">
                <div class="thumbnail">
                    
            <div class="caption">
                    <p class="mName">Create new admin</p>
                   
                    <form action='signupAdmin'>
                        <input type="submit" value="Create new admin" />
                    </form>
              
            </div>
            </div>
            </div>
        </div>
        </div>



<div class ="container">
    <div class="row">
    
            <div class="col-sm-5 col-md-4">
                <div class="thumbnail">
                    
            <div class="caption">
                    <p class="mName">Send a notification</p>
                   
                    <form action='notification'>
                        <input type="submit" value="send Notification" />
                    </form>
              
            </div>
            </div>
            </div>
        </div>
        </div>

{{> footer}}
