{{> header}}

<ul class="breadcrumb">
  <li><a href='profile'>Home</a></li>
</ul>

<h2 id="h2">User Achievements</h2>
<div class ="container">
    <div class="row">
    
            <div class="col-sm-5 col-md-4">
                <div class="thumbnail">
                   
            <div class="caption">
                    <p>Work Experience</p>

            </div>
            </div>
        </div>
        </div>
        </div>

{{> footer}}