{{> header}}

<ul class="breadcrumb">
  <li><a href='profile'>Home</a></li>
</ul>


{{> nav}}
     {{# each subjects}}
    <div class ="container">
    <div class="row">
    
            <div class="col-sm-5 col-md-4">
                <div class="thumbnail">
                    <img src={{ this.imagePath}}
                                 alt="..." class="img-responsive>
            <div class="caption">
                    <p class="mName">{{this.title}}</p>
                    <form action='subject'>
                        <input type="submit" value="View Subject" />
                    </form>
            </div>
            </div>
        </div>
        </div>
{{/each}}
 <div class ="container">
    <div class="row">
    
            <div class="col-sm-5 col-md-4">
                <div class="thumbnail">
                   
            <div class="caption">
                    <p class="mName">Student Events</p>
                   
                    <form action='events'>
                        <input type="submit" value="View Events" />
                    </form>
                    </div>
              
            </div>
            </div>
        </div>
        </div>
{{> calandar}}

{{> footer}}
