.thumbnail img {
    max-height: 500px;
    max-width: 70px;
}
.mName {
    font-weight: bold;
    font-size: 20px;
}
.h2{
    text-align: center;
}
 .fcontainer {
    padding-left: 1px;
    font-size: 12px;
}
.thumbnail {
    max-height: 900px;
    max-width: 250px;
}

.container{
	padding-left: 457px;
}

.lcontainer{
	text-align: left;

}
.ccontainer
{
    align-self: right;
    max-height: 30%;
    max-width: 40%

}
.month {
    padding: 70px;
    width: 100%;
    background: #e3f2fd;
    text-align: center;
}

.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: black;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.month .prev {
    float: left;
    padding-top: 10px;
}

.month .next {
    float: right;
    padding-top: 10px;
}

.weekdays {
    margin: 0;
    padding: 5px;
    background-color: #ddd;
}

.weekdays li {
    display: inline-block;
    width: 13%;
    color: #666;
    text-align: center;
}

.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color: #777;
}

.days li .active {
    padding: 5px;
    background: #1abc9c;
    color: white !important
}
.rcontainer
{
text-align: center;
align-self: left;
    max-height: 30%;
    max-width: 40%

}
.table, th, td {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}

